#nav-bar{
background-color: black;
font-weight: bold;
display: inline-block;
padding: 15px;
text-align: right;
width: 100%;
margin: 0 auto;
}

#nav-bar a{
text-align: right;
text-decoration: none;
color: #ffffff;
font-family: chiller;
font-size: 40px;

}

#nav-bar ul li{
  text-align: right;
  display: inline-block;
  margin-left: 25px;
font-size: 20px;
}

img{
float: left;
display: block;
height: 40px;
width: 40px;
padding-top: 1px;
padding-bottom: 10px;
margin-top: 5px;
margin-bottom: 5px;
