#nav-bar{
background-color: black;
font-weight: bold;
display: inline-block;
padding: 15px;
text-align: right;
width: 100%;
margin: 0 auto;
}

#nav-bar a{
text-align: right;
text-decoration: none;
color: #ffffff;
font-family: chiller;
font-size: 40px;
#nav-bar 
}Arudem

